*.ap_
*.apk
*.class
*.dex
*.iml
*.log
.DS_Store
.externalNativeBuild
.gradle
.gradle/
.idea/
.keystore
.navigation/
/.idea
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
build/
captures/
gen/
local.properties
out/
output/
proguard/
